@import "tailwindcss";

html {
  cursor: url('@/assets/imgs/cursor.svg') 2 1, auto;
  background-color: var(--color-bg);
  height: 100%;
}

body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --color-brand: #de4331;
  --color-primary: #4E3F42;
  --color-secondary: #7b888e;
  --color-brand-secondary: #FCC841;
  --color-bg: #eeeeee;
  --color-border: #ffffff;
  --color-card: #ffffff66;
  --color-article: #ffffffcc;
}

@utility card {
  @apply absolute rounded-[40px] border-[var(--color-border)] border p-6;
  box-shadow: 0 40px 50px -32px #0000000d, inset 0 0 20px #ffffff40;
  background-color: var(--color-card);
  backdrop-filter: blur(4px);
}


@utility text-linear {
	background: linear-gradient(to right bottom, #0003 0%, #aaa1), linear-gradient(to right bottom, var(--color-brand) 40%, var(--color-brand-secondary));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
@utility card-rounded {
	@apply rounded-[40px];
	@supports (corner-shape: squircle) {
		corner-shape: squircle;
		@apply rounded-[64px];
	}
}