@import "tailwindcss";

@theme {
  --color-primary: #de4331;
  --color-border: #ffffff;
  --color-card: #ffffff66;
  --color-base: #4E3F42;
	--color-brand-secondary: #FCC841;
}

html {
  @apply bg-gray-200 h-full text-base;
  cursor: url('@/assets/imgs/cursor.svg') 2 1, auto;
}

body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}


@utility card {
  @apply rounded-[40px] border-border border p-6;
  box-shadow: 0 40px 50px -32px #0000000d, inset 0 0 20px #ffffff40;
  background-color: var(--color-card);
  backdrop-filter: blur(4px);
}


@utility text-linear {
	background: linear-gradient(to right bottom, #0003 0%, #aaa1), linear-gradient(to right bottom, var(--color-primary) 40%, var(--color-brand-secondary));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}